*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #676767;
    color:#FFFFFF;
    padding: 1%;
    font-size: xx-large;
}

.adminNav{
    background-color: #676767;
    color:#FFFFFF;
    width: 10%;
    min-height: 90%;
}

ul{
    list-style-type: none;
}


li{
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: large;
    border-bottom: 1px solid #FFFFFF;
}
a {
    text-decoration: none !important;   
}


li a{
    text-decoration: none;
}

nav li:hover{
    background-color: #FFFFFF;
    color: #676767;
}

.dashboard-box{
    border-radius: 30px;
    margin-left: 3%;
    border: 2px solid #FFFFFF;
    color: #000000;
    padding: 35px;
    width: 200px;
    min-height: 80px;
    background-color: #FFFFFF;
}
.dashboard-box:hover{
    color: aqua;
}


table{
    width: 90% !important;
}

button{
    background-color: #676767;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5% 6%;
    cursor: pointer;
    border-radius: 35px;
}

.submit{
    background-color: #676767;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5% 6%;
    cursor: pointer;
    border-radius: 35px;
}

